* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #9d9d9d;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	background-color: #333;
	max-height: 340px;
}

.logo {
	cursor: pointer;
}
.logo:hover {
	color: white;
}

.navButton {
	padding: 9px 25px;
	font-size: 1.09rem;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background: none;
}

a:hover {
	color: white;
	font-size: 1.1rem;
}

.navButton:hover {
	/* background-color: rgba(0, 136, 169, 0.8); */
	color: white;
}

.non {
	display: none;
}
