$card-color: rgb(117, 76, 117);
.non-admin {
	display: none;
}

.non-attendee {
	display: none;
}

.claimed {
	display: none;
}

.potluck-view-container {
	width: 65rem;
	border: 3px double lightgreen;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.potluck-info-container {
	//border: 2px solid red;
	background-color: rgb(117, 76, 117);
	border-radius: 1rem;
	margin: 3rem 0rem 1rem 0rem;
	width: 60vw;
	height: 30vh;
	display: flex;
}
.potluck-info {
	overflow: hidden;
	margin-left: 3rem;
	h1 {
		color: white;
	}
	p {
		color: white;
	}
	div {
		float: right;
	}
}
.potluck-info-img {
	max-width: 45%;
	height: auto;
	border-radius: 1rem;
}

.attendees-container {
	width: 55vw;

	display: flex;
	flex-direction: column;
	align-self: center;
}

$attendee-icon-size: 4rem;
.attendee-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.attendee {
	box-sizing: border-box;
	width: $attendee-icon-size;
	height: $attendee-icon-size;
	text-align: center;
	margin: 0.5rem;
	border-radius: 50%;
	font-size: 2rem;
	background-color: $card-color;
	color: white;
	&:hover {
		background-color: white;
		border: 1px solid $card-color;
		color: $card-color;
	}

	.initials {
		position: relative;
		align-self: center;
		font-weight: bold;
		line-height: $attendee-icon-size;
	}
}

.admin.add-attendee {
	display: flex;
	flex-direction: column;
	div {
		color: white;
		font-size: 1.3rem;
		font-weight: bold;
		align-self: center;
	}
	.email {
		margin: 0rem;
		align-self: flex-start;
		margin-left: 3rem;
		font-weight: normal;
		font-size: 1rem;
	}
	input {
		width: 70%;
		align-self: center;
	}
	button {
		width: 10rem;
		height: 3rem;
		border-radius: 3rem;
		align-self: center;
		color: white;
		background-color: $card-color;
		border: 1xp solid white;
		&:hover {
			color: $card-color;
			background-color: white;
			border: 1xp solid $card-color;
		}
	}
	* {
		margin-bottom: 1rem;
	}
}
.attendee-info-content {
	width: 20rem;
	.popup {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		color: white;
		font-size: 1.5rem;
		div {
			line-height: 3rem;
			vertical-align: center;
		}
		button {
			width: 7rem;
			height: 2rem;
			border-radius: 1rem;
			align-self: center;
			color: white;
			background-color: $card-color;
			border: 1xp solid white;
			&:hover {
				color: $card-color;
				background-color: white;
				border: 1xp solid $card-color;
			}
		}
	}
}

$icon-size: 2rem;
.requirement-container {
	// flex-direction: column;
	// flex-wrap: nowrap;
	width: 55vw;
	.admin {
		display: inline;
		align-content: center;
		img {
			height: $icon-size;
			width: $icon-size;
			opacity: 10%;
			align-self: center;
			line-height: 5rem;

			&:hover {
				opacity: 60%;
			}
		}
	}
	.requirements {
		//border: 2px dotted pink;
		display: grid;
		grid-template-columns: 1fr;
		//text-align: center;
		.requirement {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-auto-rows: minmax(4rem, auto);
			//grid-column-gap: 0.5rem;
			//border: 1px solid green;
			text-align: center;

			div {
				height: 3rem;
				//text-align: center;
				color: white;
				&:first {
					border-top-right-radius: 0.5rem;
				}
				line-height: 3rem;
				background-color: rgb(117, 76, 117);
			}
			img {
				width: 2rem;
				height: 2rem;
				opacity: 10%;
			}
			img:hover {
				opacity: 60%;
			}

			.non-claimed {
				button {
					width: 7rem;
					height: 2.5rem;
					border-radius: 1rem;
					//align-self: center;
					margin: 0rem;
					color: white;
					background-color: $card-color;
					border: 1xp solid white;
					&:hover {
						color: $card-color;
						background-color: white;
						border: 1xp solid $card-color;
					}
				}
			}
		}
	}
}
.popup-content {
	background-color: rgb(117, 76, 117) !important;
	border: none !important;
	width: 20rem !important;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.add-req-form {
	display: flex;
	flex-direction: column;
	align-content: center;
	h2 {
		color: white;
		margin-left: 3rem;
	}
	div {
		color: white;
		font-weight: bold;
		width: 10rem;
		margin-left: 5rem;
	}
	input {
		width: 10rem;
		margin-left: 5rem;
		margin-bottom: 1rem;
	}
	select {
		width: 10rem;
		margin-bottom: rem;
		margin-left: 5rem;
		margin-bottom: 1rem;
		option {
			color: black;
		}
	}
	button {
		width: 10rem;
		height: 3rem;
		color: white;
		border-radius: 3rem;
		background-color: rgb(117, 76, 117);
		margin-left: 5rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		&:hover {
			background-color: rgb(214, 143, 214);
		}
	}
}
