$card-color: rgb(117, 76, 117);
.non-admin {
	display: none;
}

.non-attendee {
	display: none;
}

.claimed {
	display: none;
}

.potluck-view-container {
	width: 65rem;
	border: 3px double lightgreen;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.potluck-info-container {
	//border: 2px solid red;
	background-color: rgb(117, 76, 117);
	border-radius: 1rem;
	margin: 3rem 0rem 1rem 0rem;
	width: 60vw;
	height: 30vh;
	display: flex;
}
.potluck-info {
	overflow: hidden;
	margin-left: 3rem;
	h1 {
		color: white;
	}
	p {
		color: white;
	}
	div {
		float: right;
	}
}
.potluck-info-img {
	max-width: 45%;
	height: auto;
	border-radius: 1rem;
}

.attendees-container {
	width: 55vw;

	display: flex;
	flex-direction: column;
	align-self: center;
}

$attendee-icon-size: 4rem;
.attendee-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.attendee {
	width: $attendee-icon-size;
	height: $attendee-icon-size;
	text-align: center;

	margin: 0.5rem;
	border-radius: 50%;
	font-size: 2rem;
	background-color: $card-color;

	.initials {
		position: relative;
		color: #fff;
		align-self: center;
		//font-family: "Courier New", monospace;
		font-weight: bold;
		line-height: $attendee-icon-size; /* 50% of parent */
	}
}
